# Игнорировать файлы и директории, которые не нужны в Docker-контейнере
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.tmp
*.swp
*.swn
*.swo
.env.local
.env.development
schema.pdf
.idea
.vscode
logs
*.log
.DS_Store
Thumbs.db
